.form__group {
position: relative;
padding: 15px 0 0;
top: 150px;
width: 25%;
left: 570px;
}

.form__field {
font-family: inherit;
width: 100%;
border: 0;
border-bottom: 2px solid #2d394b;
outline: 0;
font-size: 1.3rem;
color: #2d394b;
padding: 7px 0;
background: transparent;
transition: border-color 0.2s;
}
.form__field::placeholder {
color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
font-size: 1.3rem;
cursor: text;
top: 25px;
}

.form__label {
position: absolute;
top: 0;
display: block;
transition: 0.2s;
font-size: 1rem;
color: #9b9b9b;
}

.form__field:focus {
padding-bottom: 6px;
font-weight: 700;
border-width: 1px;
border-image: linear-gradient(to right, #9b9b9b, #9b9b9b);
border-image-slice: 1;
}
.form__field:focus ~ .form__label {
position: absolute;
top: -7px;
display: block;
transition: 0.2s;
font-size: 1rem;
color: #1f1e1e;
font-weight: 700;
}

.pass {
    position: relative;
    top: 20px;
}
nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li {
--c: rgb(32, 0, 216);
color: var(--c);
font-size: 16px;
border: 0.2em solid var(--c);
border-radius: 3em;
width: 12em;
height: 3em;
text-transform: uppercase;
font-weight: normal;
font-family: sans-serif;
letter-spacing: 0.1em;
text-align: center;
line-height: 2.75em;
position: relative;
overflow: hidden;
z-index: 1;
transition: 0.5s;
margin: 1em;
}

nav ul li span {
position: absolute;
width: 25%;
height: 100%;
background-color: var(--c);
transform: translateY(150%);
border-radius: 50%;
left: calc((var(--n) - 1) * 25%);
transition: 0.5s;
transition-delay: calc((var(--n) - 1) * 0.1s);
z-index: -1;
}

nav ul li:hover {
color: white;
}

nav ul li:hover span {
transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
--n: 1;
}
nav ul li span:nth-child(2) {
--n: 2;
}

nav ul li span:nth-child(3) {
--n: 3;
}

nav ul li span:nth-child(4) {
--n: 4;
}
.bttnz {
position: relative;
left: 650px;
top: 190px;
}
.api {
position: relative;
left: 670px;
top: 250px;
}
.sign_extra {
color: #2d394b;
font-size: large;
font-weight: bolder;
position: relative;
left: 695px;
top: 150px;

}
.loginrow {
background: white;
border-radius: 30px;
color: black;
justify-content: center;
}
h1{
font-family: 'Open Sans', sans-serif;
}
.details{
height: 55px;
width: 25%;
outline: none;
border: none;
border-radius: 5px;
box-shadow: 5px 4px 9px 2px rgba(0,0,0,0.21);
-webkit-box-shadow: 5px 4px 9px 2px rgba(0,0,0,0.21);
-moz-box-shadow: 5px 4px 9px 2px rgba(0,0,0,0.21);
}
.btn1{
height: 40px;
width: 15%;
border: none;
outline: none;
border-radius: 60px;
font-weight: 550;
color: white;
background-color: rgb(77, 77, 241);
}
.btn1:hover{
background-color: blue;
transition: 0.5s;
}
.fa-facebook{
font-size: 3rem;
color: rgb(66, 103, 178);
cursor: pointer;
margin-right: 20px;
}
.fa-google{
font-size: 3rem;
color: #0F9D58;
cursor: pointer;
margin-right: 20px;
}
.fa-instagram{
font-size: 3rem;
color: #7a3ca3;
cursor: pointer;
margin-right: 20px;
}
.fa-instagram:hover{
color: #552a72;
}
.fa-google:hover{
color: #12b912;
}
.fa-facebook:hover{
color: rgb(29, 53, 102);
}
.footer{
position: fixed;
bottom: 0;
width: 100%;
}
.li:hover{
color: #551A8B;
}
@font-face {
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
src: local('Material Icons'),
local('MaterialIcons-Regular'),
url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;  /* Preferred icon size */
display: inline-block;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;

/* Support for all WebKit browsers. */
-webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
text-rendering: optimizeLegibility;

/* Support for Firefox. */
-moz-osx-font-smoothing: grayscale;

/* Support for IE. */
font-feature-settings: 'liga';
}
a{
    text-decoration: none;
    background-color: transparent;
}
.link-secondary {
    color: #007bff;
}
.link-dark {
    color: #007bff;
    }